body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.auth-container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: #ff5fa2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#error {
  color: red;
  font-size: 14px;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.botones button {
  font-size: 24px;
  padding: 15px 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#btnNo {
  background: #444;
  color: white;
}

#btnSi {
  background: #ff5fa2;
  color: white;
}

.card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: grab;
}
.card.salida-derecha {
  transform: translateX(600px) rotate(25deg);
  opacity: 0;
}

.card.salida-izquierda {
  transform: translateX(-600px) rotate(-25deg);
  opacity: 0;
}
